
# vs directories
build/obj/
vs2015/
vs2017/
gmake/
.vscode/

# vs misc files
*.ilk
*.pdb

# lib directory
lib/

# Executables
*.exe
*.out
*.app

# keep premake
!premake*.*

# devs examples
examples/checkout_line/checkout_line
# book_code
examples/book_code/coffee_machine/coffee_machine
examples/book_code/tank/tank

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
