
# vs directories
build/obj/
vs2015/
vs2017/
gmake/
.vscode/

# lib directory
lib/

# Executables
*.exe
*.out
*.app

# keep premake
!premake*.*

examples/checkout_line/checkout_line

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
